@use "variable.scss" as var;

.cards {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.cards-button-new {
	padding: 2rem;
	position: fixed;
	right: 2rem;
	bottom: 2rem;
	box-shadow: 0 0.5rem 1rem var.$color-gray-9;
	background-color: var.$color-primary;
}
