@use "variable.scss" as var;

.pop-up-window {
	position: fixed;
	left: 0;
	right: 0;
	top: 20%;
	margin: 0 auto;
	height: 30rem;
	width: 50rem;
	max-width: 80%;
	background-color: var.$color-primary;
	border-radius: 1rem;
	box-shadow: 0 0 1rem 0.1rem var.$color-gray-9;
	padding: 1.5rem 1.5rem;
	box-sizing: border-box;

	&-header {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
		padding: 0;
		margin: 0;

		&-button-close {
			height: 3rem;
			width: 3rem;
			background-color: var.$color-tertiary;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	&-body {
		width: 100%;
		margin: 0;
		padding: 1rem;
		text-align: left;
		box-sizing: border-box;

		textarea {
			width: 100%;
			margin: 0;
			padding: 0;
			height: 18rem;
		}
	}

	&-footer {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 1rem;
		box-sizing: border-box;
		display: flex;
		justify-content: flex-end;
		align-items: center;

		* {
			font-size: 2.5rem;
		}
	}
}
