@use "variable.scss" as var;

.icon {
	&-avatar {
		--size: 2.6rem;
		position: relative;
		height: var(--size);
		width: var(--size);
		border-radius: var(--size);
		background-color: var.$color-body;
		margin: 0 calc(var(--size) * 0.5 / 2.6) 0 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		box-shadow: var.$icon-shadow-inset;

		&:after {
			content: "";
			position: absolute;
			top: calc(var(--size) * 0.4 / 2.6);
			margin: 0 auto;
			height: calc(var(--size) * 1.1 / 2.6);
			width: calc(var(--size) * 1.1 / 2.6);
			border-radius: calc(var(--size) * 1.5 / 2.6);
			background-color: var.$color-primary;
			box-shadow: var.$icon-shadow;
		}

		&:before {
			content: "";
			position: absolute;
			top: calc(var(--size) * 1.8 / 2.6);
			margin: 0 auto;
			height: calc(var(--size) * 2 / 2.6);
			width: calc(var(--size) * 2 / 2.6);
			border-radius: calc(var(--size) * 2 / 2.6);
			background-color: var.$color-primary;
			box-shadow: var.$icon-shadow;
		}
	}

	&-menu {
		position: relative;
		height: var.$icon-menu-thickness;
		width: var.$icon-menu-width;
		background-color: var.$color-body;
		box-shadow: var.$icon-shadow-inset;
		margin: calc(var.$icon-menu-height / 2 - var.$icon-menu-thickness / 2) 0;

		&:after {
			content: "";
			display: block;
			height: var.$icon-menu-thickness;
			width: var.$icon-menu-width;
			position: absolute;
			top: calc(var.$icon-menu-thickness / 2 - var.$icon-menu-height / 2);
			margin: 0 auto;
			background-color: var.$color-body;
			box-shadow: var.$icon-shadow-inset;
		}

		&:before {
			content: "";
			display: block;
			height: var.$icon-menu-thickness;
			width: var.$icon-menu-width;
			position: absolute;
			top: calc(var.$icon-menu-height / 2 - var.$icon-menu-thickness / 2);
			margin: 0 auto;
			background-color: var.$color-body;
			box-shadow: var.$icon-shadow-inset;
		}
	}

	&-back {
		position: relative;
		height: var.$icon-back-size;
		width: var.$icon-back-size;
		background-color: var.$color-transparent;
		padding: 0;
		margin: 0rem 0.5rem;

		&:after {
			content: "";
			display: block;
			height: calc(var.$icon-back-size / 1.414);
			width: calc(var.$icon-back-size / 1.414);
			border: solid var.$color-gray-9;
			border-width: 0 var.$icon-back-thickness var.$icon-back-thickness 0;
			position: absolute;
			margin: auto auto;
			transform: rotate(135deg);
		}
	}

	&-heart {
		background-color: var.$color-gray-9;
		width: var.$icon-heart-size;
		height: var.$icon-heart-size;
		transform: rotate(135deg);
		margin: 0.5rem;
		padding: 0;

		&:after {
			background-color: var.$color-gray-9;
			content: "";
			width: var.$icon-heart-size;
			height: var.$icon-heart-size;
			border-radius: var.$icon-heart-size;
			position: absolute;
			right: 0;
			top: calc(var.$icon-heart-size / 2);
		}

		&:before {
			background-color: var.$color-gray-9;
			content: "";
			width: var.$icon-heart-size;
			height: var.$icon-heart-size;
			border-radius: var.$icon-heart-size;
			position: absolute;
			right: calc(var.$icon-heart-size / 2);
			top: 0;
		}
	}

	&-plus {
		position: relative;
		background-color: var.$color-gray-1;
		width: 0.3rem;
		height: 2rem;
		margin: 0 0.85rem;

		&:after {
			background-color: var.$color-gray-1;
			content: "";
			height: 0.3rem;
			width: 2rem;
			position: absolute;
			top: 0.85rem;
			right: -0.85rem;
		}
	}

	&-close {
		position: relative;
		background-color: var.$color-gray-8;
		width: 0.3rem;
		height: 2rem;
		margin: 0 0.85rem;
		transform: rotate(45deg);
		padding: 0;
		border: none;

		&:after {
			background-color: var.$color-gray-8;
			content: "";
			height: 0.3rem;
			width: 2rem;
			position: absolute;
			top: 0.85rem;
			right: -0.85rem;
			margin: 0;
			padding: 0;
			border: none;
		}
	}
}
